<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firstflight Travels</title>
    <link rel="icon" href="/public/Images/logo.png">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="stylesheet" href="/css/landingPage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<link href="/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   
</head>
<body>

    <!-- Background Video & Header -->
    <div class="banner" style="height: 100%;">

    <!-- Header -->
    <div class="content" id="home" style="height: 100%;"> 
        <nav>
            <img src="/public/Images/logo.png" class="logo" alt="Logo" title="FirstFlight Travels">
            
            <ul class="navbar">
                <li>
                  <a href="/">Home</a>
                  <a href="/placeListPage">Locations</a>
                  <a href="/packageList">Packages</a>
                  <a href="/ContactUs">Contact Us</a>
                  <a href="/AboutUs">About Us</a>
                </li>
            </ul>
        </nav>
    </div>
    </div>

     <!-- Packages -->

     <section class="package" id="package">
        <div class="package-title" >
            <h2>Packages</h2>
        </div>

        <div class="package-content">
            
            <div class="box">
                <div class="image">
                    <img src="/public/Images/p1.jpg" alt="">
                    <h3>Rs.9,999/-</h3>
                </div>
            
            <div class="dest-content">
                <div class="location">
                    <h4>Bronze</h4>
                    <ul class="pac-details">
                        <li>2 Star Hotel</li>
                        <li>5 Nights Stay</li>
                        <li>Free photo Session</li>
                        <li>Friendly Tour Guide</li>
                        <li>24/7 Customer Help Center</li>
                    </ul>
                </div>
            </div>
            </div>
            
            <div class="box">
                <div class="image">
                    <img src="/public/Images/p2.jpg" alt="">
                    <h3>Rs.19,999/-</h3>
                </div>
            
            <div class="dest-content">
                <div class="location">
                    <h4>Silver</h4>
                    <ul class="pac-details">
                        <li>3 Star Hotel</li>
                        <li>7 Nights Stay</li>
                        <li>Free photo Session</li>
                        <li>Friendly Tour Guide</li>
                        <li>24/7 Customer Help Center</li>
                    </ul>
                </div>
            </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/public/Images/p3.jpg" alt="">
                    <h3>Rs.29,999/-</h3>
                </div>
            
            <div class="dest-content">
                <div class="location">
                    <h4>Gold</h4>
                    <ul class="pac-details">
                        <li>4 Star Hotel</li>
                        <li>10 Nights Stay</li>
                        <li>Breakfast and Dinner</li>
                        <li>Free photo Session</li>
                        <li>Friendly Tour Guide</li>
                        <li>24/7 Customer Help Center</li>
                    </ul>
                </div>
            </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/public/Images/p4.jpg" alt="">
                    <h3>Rs.39,999/-</h3>
                </div>
            
            <div class="dest-content">
                <div class="location">
                    <h4>Platinum</h4>
                    <ul class="pac-details">
                        <li>5 Star Hotel</li>
                        <li>14 Nights Stay</li>
                        <li>Breakfast, Lunch and Dinner</li>
                        <li>Bornfire</li>
                        <li>Free photo Session</li>
                        <li>Friendly Tour Guide</li>
                        <li>24/7 Customer Help Center</li>
                    </ul>
                </div>
            </div>
            </div>

        </div>

    </section>

    <section style="margin-top: -20%;">
    <div class="container">
        <div class="package-title" style="margin-left: -7%;">
            <h2>Bronze Packages:</h2>
        </div>
        <div class="row">
        <div id="carouselExampleIndicators2" class="carousel slide col-12" data-bs-ride="carousel">
            <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="d-flex justify-content-center">

                <div class="box col-4">
                    <div class="image">
                    <img style="height: 400px;width: 60%;" src="/public/Images/bali (1).jpg" alt="">
                    <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
                    </div>
                    <div class="dest-content">
                    <div class="location">
                        <h4>Bronze</h4>
                        <ul class="pac-details">
                        <li>2 Star Hotel</li>
                        <li>5 Nights Stay</li>
                        <li>Free photo Session</li>
                        <li>Friendly Tour Guide</li>
                        <li>24/7 Customer Help Center</li>
                        </ul>
                    </div>
                    </div>
                </div>
                
                <div class="box col-4" style="margin-left: 2%;">
                    <div class="image">
                    <img style="height: 400px;width: 60%;" src="/public/Images/Atacama Desert, Chile.jpg" alt="">
                    <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
                    </div>
                    <div class="dest-content">
                    <div class="location">
                        <h4>Bronze</h4>
                        <ul class="pac-details">
                        <li>2 Star Hotel</li>
                        <li>5 Nights Stay</li>
                        <li>Free photo Session</li>
                        <li>Friendly Tour Guide</li>
                        <li>24/7 Customer Help Center</li>
                        </ul>
                    </div>
                    </div>
                </div>

                </div>
            </div>

            <div class="carousel-item">
                <div class="d-flex justify-content-center">

                <div class="box col-4">
                    <div class="image">
                    <img style="height: 400px;width: 60%;" src="/public/Images/Banff National Park, Canada.jpg" alt="">
                    <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
                    </div>
                    <div class="dest-content">
                    <div class="location">
                        <h4>Bronze</h4>
                        <ul class="pac-details">
                        <li>2 Star Hotel</li>
                        <li>5 Nights Stay</li>
                        <li>Free photo Session</li>
                        <li>Friendly Tour Guide</li>
                        <li>24/7 Customer Help Center</li>
                        </ul>
                    </div>
                    </div>
                </div>
                
                <div class="box col-4" style="margin-left: 2%;">
                    <div class="image">
                    <img style="height: 400px;width: 60%;" src="/public/Images/Cappadocia, Turkey.jpg" alt="">
                    <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
                    </div>
                    <div class="dest-content">
                    <div class="location">
                        <h4>Bronze</h4>
                        <ul class="pac-details">
                        <li>2 Star Hotel</li>
                        <li>5 Nights Stay</li>
                        <li>Free photo Session</li>
                        <li>Friendly Tour Guide</li>
                        <li>24/7 Customer Help Center</li>
                        </ul>
                    </div>
                    </div>
                </div>

                </div>
            </div>

            <div class="carousel-item">
                <div class="d-flex justify-content-center">

                <div class="box col-4">
                    <div class="image">
                    <img style="height: 400px;width: 60%;" src="/public/Images/The Azores, Portugal.jpg" alt="">
                    <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
                    </div>
                    <div class="dest-content">
                    <div class="location">
                        <h4>Bronze</h4>
                        <ul class="pac-details">
                        <li>2 Star Hotel</li>
                        <li>5 Nights Stay</li>
                        <li>Free photo Session</li>
                        <li>Friendly Tour Guide</li>
                        <li>24/7 Customer Help Center</li>
                        </ul>
                    </div>
                    </div>
                </div>
                
                <div class="box col-4" style="margin-left: 2%;">
                    <div class="image">
                    <img style="height: 400px;width: 60%;" src="/public/Images/switzerland.jpg" alt="">
                    <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
                    </div>
                    <div class="dest-content">
                    <div class="location">
                        <h4>Bronze</h4>
                        <ul class="pac-details">
                        <li>2 Star Hotel</li>
                        <li>5 Nights Stay</li>
                        <li>Free photo Session</li>
                        <li>Friendly Tour Guide</li>
                        <li>24/7 Customer Help Center</li>
                        </ul>
                    </div>
                    </div>
                </div>

                </div>
            </div>

            </div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-bs-slide="prev">
              <span style="color: black;"><i class="fas fa-arrow-left"></i> </span>
              <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-bs-slide="next">
              <span style="color: black;"><i class="fas fa-arrow-right"></i> </span>
              <span class="visually-hidden">Next</span>
          </a>
        </div>
        </div>
    </div>
    </section>

<!-- Silver PACKAGES -->
<section style="margin-top: -20%;">
<div class="container">
  <div class="package-title" style="margin-left: -7%;">
      <h2>Silver Packages:</h2>
  </div>
  <div class="row">
    <div id="carouselExampleIndicatorsSilver" class="carousel slide col-12" data-bs-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="d-flex justify-content-center">
            <div class="box col-4">
              <div class="image">
                <img style="height: 400px;width: 60%;" src="/public/Images/bali (1).jpg" alt="">
                <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
              </div>
              <div class="dest-content">
                <div class="location">
                  <h4>Bronze</h4>
                  <ul class="pac-details">
                    <li>2 Star Hotel</li>
                    <li>5 Nights Stay</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="box col-4" style="margin-left: 2%;">
              <div class="image">
                <img style="height: 400px;width: 60%;" src="/public/Images/Atacama Desert, Chile.jpg" alt="">
                <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
              </div>
              <div class="dest-content">
                <div class="location">
                  <h4>Bronze</h4>
                  <ul class="pac-details">
                    <li>2 Star Hotel</li>
                    <li>5 Nights Stay</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <div class="box col-4">
              <div class="image">
                <img style="height: 400px;width: 60%;" src="/public/Images/Banff National Park, Canada.jpg" alt="">
                <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
              </div>
              <div class="dest-content">
                <div class="location">
                  <h4>Bronze</h4>
                  <ul class="pac-details">
                    <li>2 Star Hotel</li>
                    <li>5 Nights Stay</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="box col-4" style="margin-left: 2%;">
              <div class="image">
                <img style="height: 400px;width: 60%;" src="/public/Images/Cappadocia, Turkey.jpg" alt="">
                <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
              </div>
              <div class="dest-content">
                <div class="location">
                  <h4>Bronze</h4>
                  <ul class="pac-details">
                    <li>2 Star Hotel</li>
                    <li>5 Nights Stay</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <div class="box col-4">
              <div class="image">
                <img style="height: 400px;width: 60%;" src="/public/Images/The Azores, Portugal.jpg" alt="">
                <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
              </div>
              <div class="dest-content">
                <div class="location">
                  <h4>Bronze</h4>
                  <ul class="pac-details">
                    <li>2 Star Hotel</li>
                    <li>5 Nights Stay</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="box col-4" style="margin-left: 2%;">
              <div class="image">
                <img style="height: 400px;width: 60%;" src="/public/Images/switzerland.jpg" alt="">
                <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
              </div>
              <div class="dest-content">
                <div class="location">
                  <h4>Bronze</h4>
                  <ul class="pac-details">
                    <li>2 Star Hotel</li>
                    <li>5 Nights Stay</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicatorsSilver" role="button" data-bs-slide="prev">
        <span style="color: black;"><i class="fas fa-arrow-left"></i> </span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicatorsSilver" role="button" data-bs-slide="next">
        <span style="color: black;"><i class="fas fa-arrow-right"></i> </span>
        <span class="visually-hidden">Next</span>
    </a>

    </div>
  </div>
</div>
</section>

<!-- GOLD PACKAGES -->
<section style="margin-top: -20%;">
<div class="container">
  <div class="package-title" style="margin-left: -7%;">
    <h2>Gold Packages:</h2>
  </div>
  <div class="row">
    <div id="carouselExampleIndicatorsGold" class="carousel slide col-12" data-bs-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="d-flex justify-content-center">
            <div class="box col-4">
              <div class="image">
                <img style="height: 400px;width: 60%;" src="/public/Images/bali (1).jpg" alt="">
                <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
              </div>
              <div class="dest-content">
                <div class="location">
                  <h4>Gold</h4>
                  <ul class="pac-details">
                    <li>4 Star Hotel</li>
                    <li>5 Nights Stay</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="box col-4" style="margin-left: 2%;">
              <div class="image">
                <img style="height: 400px;width: 60%;" src="/public/Images/Atacama Desert, Chile.jpg" alt="">
                <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
              </div>
              <div class="dest-content">
                <div class="location">
                  <h4>Gold</h4>
                  <ul class="pac-details">
                    <li>4 Star Hotel</li>
                    <li>5 Nights Stay</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <div class="box col-4">
              <div class="image">
                <img style="height: 400px;width: 60%;" src="/public/Images/Banff National Park, Canada.jpg" alt="">
                <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
              </div>
              <div class="dest-content">
                <div class="location">
                  <h4>Gold</h4>
                  <ul class="pac-details">
                    <li>4 Star Hotel</li>
                    <li>5 Nights Stay</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="box col-4" style="margin-left: 2%;">
              <div class="image">
                <img style="height: 400px;width: 60%;" src="/public/Images/Cappadocia, Turkey.jpg" alt="">
                <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
              </div>
              <div class="dest-content">
                <div class="location">
                  <h4>Gold</h4>
                  <ul class="pac-details">
                    <li>4 Star Hotel</li>
                    <li>5 Nights Stay</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <div class="box col-4">
              <div class="image">
                <img style="height: 400px;width: 60%;" src="/public/Images/The Azores, Portugal.jpg" alt="">
                <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
              </div>
              <div class="dest-content">
                <div class="location">
                  <h4>Gold</h4>
                  <ul class="pac-details">
                    <li>4 Star Hotel</li>
                    <li>5 Nights Stay</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="box col-4" style="margin-left: 2%;">
              <div class="image">
                <img style="height: 400px;width: 60%;" src="/public/Images/switzerland.jpg" alt="">
                <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
              </div>
              <div class="dest-content">
                <div class="location">
                  <h4>Gold</h4>
                  <ul class="pac-details">
                    <li>4 Star Hotel</li>
                    <li>5 Nights Stay</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicatorsGold" role="button" data-bs-slide="prev">
        <span style="color: black;"><i class="fas fa-arrow-left"></i> </span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicatorsGold" role="button" data-bs-slide="next">
        <span style="color: black;"><i class="fas fa-arrow-right"></i> </span>
        <span class="visually-hidden">Next</span>
    </a>
    </div>
  </div>
</div>
</section>

<!-- Platinum PACKAGES -->
<section style="margin-top: -20%;">
    <div class="container">
      <div class="package-title" style="margin-left: -7%;">
        <h2>Platinum Packages:</h2>
      </div>
      <div class="row">
        <div id="carouselExampleIndicatorsPlatinum" class="carousel slide col-12" data-bs-ride="carousel">
          <div class="carousel-inner">
  
            <div class="carousel-item active">
              <div class="d-flex justify-content-center">
                <div class="box col-4">
                  <div class="image">
                    <img style="height: 400px;width: 60%;" src="/public/Images/bali (1).jpg" alt="">
                    <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
                  </div>
                  <div class="dest-content">
                    <div class="location">
                      <h4>Platinum</h4>
                      <ul class="pac-details">
                        <li>5 Star Hotel</li>
                        <li>7 Nights Stay</li>
                        <li>Free photo Session</li>
                        <li>Friendly Tour Guide</li>
                        <li>24/7 Customer Help Center</li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="box col-4" style="margin-left: 2%;">
                  <div class="image">
                    <img style="height: 400px;width: 60%;" src="/public/Images/Atacama Desert, Chile.jpg" alt="">
                    <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
                  </div>
                  <div class="dest-content">
                    <div class="location">
                      <h4>Platinum</h4>
                      <ul class="pac-details">
                        <li>5 Star Hotel</li>
                        <li>7 Nights Stay</li>
                        <li>Free photo Session</li>
                        <li>Friendly Tour Guide</li>
                        <li>24/7 Customer Help Center</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="carousel-item">
              <div class="d-flex justify-content-center">
                <div class="box col-4">
                  <div class="image">
                    <img style="height: 400px;width: 60%;" src="/public/Images/Banff National Park, Canada.jpg" alt="">
                    <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
                  </div>
                  <div class="dest-content">
                    <div class="location">
                      <h4>Platinum</h4>
                      <ul class="pac-details">
                        <li>5 Star Hotel</li>
                        <li>7 Nights Stay</li>
                        <li>Free photo Session</li>
                        <li>Friendly Tour Guide</li>
                        <li>24/7 Customer Help Center</li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="box col-4" style="margin-left: 2%;">
                  <div class="image">
                    <img style="height: 400px;width: 60%;" src="/public/Images/Cappadocia, Turkey.jpg" alt="">
                    <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
                  </div>
                  <div class="dest-content">
                    <div class="location">
                      <h4>Platinum</h4>
                      <ul class="pac-details">
                        <li>5 Star Hotel</li>
                        <li>7 Nights Stay</li>
                        <li>Free photo Session</li>
                        <li>Friendly Tour Guide</li>
                        <li>24/7 Customer Help Center</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="carousel-item">
              <div class="d-flex justify-content-center">
                <div class="box col-4">
                  <div class="image">
                    <img style="height: 400px;width: 60%;" src="/public/Images/The Azores, Portugal.jpg" alt="">
                    <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
                  </div>
                  <div class="dest-content">
                    <div class="location">
                      <h4>Platinum</h4>
                      <ul class="pac-details">
                        <li>5 Star Hotel</li>
                        <li>7 Nights Stay</li>
                        <li>Free photo Session</li>
                        <li>Friendly Tour Guide</li>
                        <li>24/7 Customer Help Center</li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="box col-4" style="margin-left: 2%;">
                  <div class="image">
                    <img style="height: 400px;width: 60%;" src="/public/Images/switzerland.jpg" alt="">
                    <h3 style="right: 180px;color: black;">Rs.9,999/-</h3>
                  </div>
                  <div class="dest-content">
                    <div class="location">
                      <h4>Platinum</h4>
                      <ul class="pac-details">
                        <li>5 Star Hotel</li>
                        <li>7 Nights Stay</li>
                        <li>Free photo Session</li>
                        <li>Friendly Tour Guide</li>
                        <li>24/7 Customer Help Center</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev" href="#carouselExampleIndicatorsPlatinum" role="button" data-bs-slide="prev">
            <span style="color: black;"><i class="fas fa-arrow-left"></i> </span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicatorsPlatinum" role="button" data-bs-slide="next">
            <span style="color: black;"><i class="fas fa-arrow-right"></i> </span>
            <span class="visually-hidden">Next</span>
        </a>
        </div>
      </div>
    </div>
  </section>
 
</body>
</html>