<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firstflight Travels</title>
    <link rel="icon" href="/public/Images/logo.png">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="stylesheet" href="/css/landingPage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<link href="/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   
</head>
<body>

<!-- Background Video & Header -->

    <div class="banner">
        <video src="/public/Video/video1.mp4" type="video/mp4" autoplay muted loop></video>
    
    <!-- Header -->

    <div class="content" id="home"> 
        <nav>
            <img src="/public/Images/logo.png" class="logo" alt="Logo" title="FirstFlight Travels">
            
            <ul class="navbar">
                <li>
                    <a href="/">Home</a>
                    <a href="/placeListPage">Locations</a>
                    <a href="/packageList">Packages</a>
                    <a href="/ContactUs">Contact Us</a>
                    <a href="/AboutUs">About Us</a>
                </li>
            </ul>
        </nav>
 
        <div class="title">
            <h1 style="text-align: left;">About Us</h1>

            <p style="font-size: 3vh;text-align: left;">At Trawell, we believe that travel is not just about visiting new places but about experiencing life in different ways, learning new cultures, and creating unforgettable memories. Our mission is to make every journey a remarkable adventure, tailored to your desires and aspirations.</p>
            <h1 style="text-align: left;">Our Vision</h1>      
            <p style="font-size: 3vh;text-align: left;">Our vision is to become the go-to travel partner for those seeking extraordinary experiences. We aim to inspire people to explore the world, embrace new cultures, and discover the beauty of our planet.</p>

        </div>
        </div>
    </div>

    <section class="footer">
        <div class="foot">
            <div class="footer-content">
                
                <!-- <div class="footlinks">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="./register.html">Register</a></li>
                        <li><a href="./about.html">About Us</a></li>
                        <li><a href="./contact.html">Contact Us</a></li>
                    </ul>
                </div> -->
    
                <div class="footlinks">
                    <h4>Connect</h4>
                    <div class="social">
                        <a href="https://www.facebook.com/mohd.rahil.blogger" target="_blank"><i class='bx bxl-facebook'></i></a>
                        <a href="https://www.instagram.com/mohdrahil101" target="_blank"><i class='bx bxl-instagram' ></i></a>
                        <a href="https://www.twitter.com/mohdrahil101" target="_blank"><i class='bx bxl-twitter' ></i></a>
                        <a href="https://www.linkedin.com/in/mohdrahil101" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                        <!-- <a href="https://www.youtube.com/techdollarz" target="_blank"><i class='bx bxl-youtube' ></i></a> -->
                        <!-- <a href="https://www.mohdrahil.wordpress.com" target="_blank"><i class='bx bxl-wordpress' ></i></a> -->
                        <!-- <a href="https://www.github.com/mohdrahil101" target="_blank"><i class='bx bxl-github'></i></a> -->
                    </div>
                </div>
                
            </div>
        </div>
    
    </section>

</body>
</html>