<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firstflight Travels</title>
    <link rel="icon" href="/public/Images/logo.png">
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="icon" href="/public/Images/logo.png">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<link href="/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<!-- Background Video & Header -->
    <div class="banner">   

    <!-- Header -->
    <div class="content" id="home"> 

        <section style="margin-top: 10%;">
            <div class="container" style="margin-left: 30%;">
              <h2>Sign Up:</h2>

              <form action="/register-user" method="POST">
                <div class="form-row">
                  <div class="form-group col-md-5">
                    <label for="Email">Email</label>
                    <input type="text" class="form-control" id="Email" name="Email" placeholder="Email">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-5">
                    <label for="Password">Password</label>
                    <input type="text" class="form-control" id="Password" name="Password" placeholder="Password">
                  </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-5">
                      <label for="ConfirmPassword">Confirm Password</label>
                      <input type="text" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="ConfirmPassword">
                    </div>
                  </div>

                <button type="submit" style="margin-left: 15%;" class="custom-button">Sign Up</button>
                <br>
                <p style="margin-left: 10%;margin-top: 5%;">Already a user?<a href="/loginPage">Login</a></p>
              </form>
            </div>
        </section>

    </div>

    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
