<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firstflight Travels</title>
    <link rel="icon" href="/public/Images/logo.png">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="stylesheet" href="/css/landingPage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<link href="/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   
</head>
<body>

<!-- Background Video & Header -->

    <div class="banner">
        <video src="/public/Video/video1.mp4" type="video/mp4" autoplay muted loop></video>
    
    <!-- Header -->

    <div class="content" id="home"> 
        <nav>
            <img src="/public/Images/logo.png" class="logo" alt="Logo" title="FirstFlight Travels">
            
            <ul class="navbar">
                <li>
                    <a href="/">Home</a>
                    <a href="/placeListPage">Locations</a>
                    <a href="/packageList">Packages</a>
                    <a href="/ContactUs">Contact Us</a>
                    <a href="/AboutUs">About Us</a>
                </li>
            </ul>
        </nav>
 
        <div class="title">
            <h1>TRAWELL</h1>
            <p>Plan your trip with us and travel around the world with the most affordable packages!</p>
        </div>
        </div>
    </div>

<!-- Locations -->

<section class="locations" id="locations">
    <div class="package-title">
        <h2>Locations</h2>
    </div>

    <div class="location-content">
        
        <a href="./locations.html#kashmir" target="_blank"><div class="col-content">
            <img src="/public/Images/l1.jpg" alt="">
            <h5>India</h5>
            <p>Kashmir</p>
        </div></a>

       

        <a href="./locations.html#istanbul" target="_blank"><div class="col-content">
            <img src="/public/Images/l2.jpg" alt="">
            <h5>Turkey</h5>
            <p>Istanbul</p>
        </div></a>

        <a href="./locations.html#paris" target="_blank"><div class="col-content">
            <img src="/public/Images/l3.jpg" alt="">
            <h5>France</h5>
            <p>Paris</p>
        </div></a>

        <a href="./locations.html#bali" target="_blank"><div class="col-content">
            <img src="/public/Images/l4.jpg" alt="">
            <h5>Indonesia</h5>
            <p>Bali</p>
        </div></a>

        <a href="./locations.html#dubai" target="_blank"><div class="col-content">
            <img src="/public/Images/l5.jpg" alt="">
            <h5>United Arab Emirates</h5>
            <p>Dubai</p>
        </div></a>

        <a href="./locations.html#geneva" target="_blank"><div class="col-content">
            <img src="/public/Images/l6.jpg" alt="">
            <h5>Switzerland</h5>
            <p>Geneva</p>
        </div></a>

        <a href="./locations.html#port-blair" target="_blank"><div class="col-content">
            <img src="/public/Images/l7.jpg" alt="">
            <h5>Andaman & Nicobar</h5>
            <p>Port Blair</p>
        </div></a>

        <a href="./locations.html#rome" target="_blank"><div class="col-content">
            <img src="/public/Images/l8.jpg" alt="">
            <h5>Italy</h5>
            <p>Rome</p>
        </div></a>

    </div>
</section>

  <!-- POPULAR TOURS -->
<section>
    <div class="container">
        <div class="row">
      
            <div class="why-choose-us col-4">
                <h2>POPULAR TOURS</h2>
                <p style="text-align: left;">Explore our most popular tours and immerse yourself in unforgettable experiences! From the breathtaking Canadian Rockies to the stunning landscapes of Iceland and the vibrant Atacama Desert, our carefully curated adventures promise awe-inspiring sights and memorable moments. Join us and discover why these tours are traveler favorites.</p>
            </div>
            
            <div id="carouselExampleIndicators2" class="carousel slide col-8" data-bs-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <div class="row">
                        <div class="card position-relative col-5" style="border: none;border-radius: 28px;margin-right: 10%;">
                          <!-- <span class="discount-badge">20% Off</span> -->
                          <img style="align-items: center;" src="/public/Images/Paris.jpg">
                          <div class="card-body" style="margin-left: -4%;">
                              <h5 class="card-title">Paris, France</h5>
                              <p class="card-text">Price: <span class="price">$1,200 - $3000</span></p>
                              <p class="card-text">Duration: <span class="price">8 Hours</span></p>
                              <!-- <p class="reviews"><i class="far fa-star"></i> (6 Reviews)</p> -->
                          </div>
                      </div>
                      <div class="card position-relative col-5" style="border: none;">
                        <!-- <span class="discount-badge">20% Off</span> -->
                        <img style="align-items: center;" src="/public/Images/Arang Kel.jpg" alt="Arang Kel, Pakistan">
                        <div class="card-body" style="margin-left: -4%;">
                            <h5 class="card-title">Arang Kel, Pakistan</h5>
                            <p class="card-text">Price: <span class="price">$1,200 - $3000</span></p>
                            <p class="card-text">Duration: <span class="price">168 Hours</span></p>
                            <!-- <p class="reviews"><i class="far fa-star"></i> (3 Reviews)</p> -->
                        </div>
                    </div>
                      </div>
                  </div>
      
                  <div class="carousel-item">
                    <div class="row">
                      <div class="card position-relative col-5" style="border: none;border-radius: 28px;margin-right: 10%;">
                        <!-- <span class="discount-badge">20% Off</span> -->
                        <img style="align-items: center;" src="/public/Images/neelam valley.jpg">
                        <div class="card-body" style="margin-left: -4%;">
                            <h5 class="card-title">Paris, France</h5>
                            <p class="card-text">Price: <span class="price">$1,200 - $3000</span></p>
                            <p class="card-text">Duration: <span class="price">8 Hours</span></p>
                            <!-- <p class="reviews"><i class="far fa-star"></i> (6 Reviews)</p> -->
                        </div>
                    </div>
                    <div class="card position-relative col-5" style="border: none;">
                      <!-- <span class="discount-badge">20% Off</span> -->
                      <img style="align-items: center;" src="/public/Images/Kumrat Valley.jpg" alt="Arang Kel, Pakistan">
                      <div class="card-body" style="margin-left: -4%;">
                          <h5 class="card-title">Arang Kel, Pakistan</h5>
                          <p class="card-text">Price: <span class="price">$1,200 - $3000</span></p>
                          <p class="card-text">Duration: <span class="price">168 Hours</span></p>
                          <!-- <p class="reviews"><i class="far fa-star"></i> (3 Reviews)</p> -->
                      </div>
                  </div>
                    </div>
                </div>
    
                <div class="carousel-item">
                    <div class="row">
                      <div class="card position-relative col-5" style="border: none;border-radius: 28px;margin-right: 10%;">
                        <!-- <span class="discount-badge">20% Off</span> -->
                        <img style="align-items: center;" src="/public/Images/neelam valley.jpg">
                        <div class="card-body" style="margin-left: -4%;">
                            <h5 class="card-title">Paris, France</h5>
                            <p class="card-text">Price: <span class="price">$1,200 - $3000</span></p>
                            <p class="card-text">Duration: <span class="price">8 Hours</span></p>
                            <!-- <p class="reviews"><i class="far fa-star"></i> (6 Reviews)</p> -->
                        </div>
                    </div>
                    <div class="col-5 position-relative" style="margin-top: 15%;">
                        <button class="custom-button" onclick="window.location.href='/packageList'">View MORE</button>
                    </div>
                    </div>
                </div>
    
              </div>
      
              <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-bs-slide="prev">
                  <span style="color: black;"><i class="fas fa-arrow-left"></i> </span>
                  <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-bs-slide="next">
                  <span style="color: black;"><i class="fas fa-arrow-right"></i> </span>
                  <span class="visually-hidden">Next</span>
              </a>
          </div>
      
        </div>
      </div>
</section>

<!-- Footer -->

<section class="footer">
    <div class="foot">
        <div class="footer-content">

            <div class="footlinks">
                <h4>Connect</h4>
                <div class="social">
                    <a href="https://www.facebook.com/mohd.rahil.blogger" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="https://www.instagram.com/mohdrahil101" target="_blank"><i class='bx bxl-instagram' ></i></a>
                    <a href="https://www.twitter.com/mohdrahil101" target="_blank"><i class='bx bxl-twitter' ></i></a>
                    <a href="https://www.linkedin.com/in/mohdrahil101" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                    <!-- <a href="https://www.youtube.com/techdollarz" target="_blank"><i class='bx bxl-youtube' ></i></a> -->
                    <!-- <a href="https://www.mohdrahil.wordpress.com" target="_blank"><i class='bx bxl-wordpress' ></i></a> -->
                    <!-- <a href="https://www.github.com/mohdrahil101" target="_blank"><i class='bx bxl-github'></i></a> -->
                </div>
            </div>
            
        </div>
    </div>

</section>


 
</body>
</html>